<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breaking News {{ articles.titles }}</title>
</head>
<body>
        <p>Category: {{articles.category}}</p>
        <p>Author: {{articles.auther}}</p>
        <p>Posted At: {{articles.created_at}}</p>
        <br>
        <p>Content: {{articles.contents}}</p>
</body>
</html>