<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Articles</title>
    <style>
        input {display: block;}
        textarea {display: block;}
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
<!--    <label for="titles"> Title</label>-->
<!--    <input id="titles" type="text" name="titles">-->

<!--    <label for="category"> Category</label>-->
<!--    <input id="category" type="text" name="category">-->
<!--    <label for="auther"> Author</label>-->
<!--    <input id="auther" type="text" name="auther">-->
<!--    <label for="contents"> Content</label>-->
<!--    <textarea id="contents" name="contents" rows="4" cols="50">Content</textarea>-->
    <input type="submit" value="Create Article">
</form>
<ul>
   {% for article in articles %}
    <li>
        <p>Title: {{article.titles}}</p>
        <p>Category: {{article.category}}</p>
        <p>Author: {{article.auther}}</p>
        <p>Content: {{article.contents}}</p>
        <p>Posted At: {{article.created_at}}</p>
        <a href="http://localhost:8080/blog/articles/{{ article.id }}">Read the article</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>